body #head{
	height: 60px;
	width: 100%;
	clear: both;
	background-color: #252947;
}
.boya{
	float: left;
	margin: 0 0 0 20px;
	background-image: url(../img/logo.png);
	width: 170px;
	height: 58px;
	overflow: hidden;
	text-indent: -9999px;
}
.shouye li,.jiaru a{
	float: left;
	width: 85px;
	height: 58px;
	text-align: center;
	color: #818496;
	border-left: 1px solid #252947;
	border-right: 1px solid #252947;
	margin: -1px;
	line-height: 58px;
	overflow: hidden;
}
.jiaru a{
	text-decoration: none;
	border: 1px solid #3aca7a;
	border-radius: 3px;
	background-color: #38b774;
	height: 32px;
	text-align: center;
	color: #fff;
	line-height: 32px;
	margin: 12px 0 0 10px;
}
